.control-panel {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  user-select: none;
  cursor: default;
}

.control-panel .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  border-radius: 40px;
  background-color: rgba(32, 32, 32, 0.4);
  opacity: 0.6;
  position: absolute;
  left: 15px;
  top: 15px;
  transition: opacity 0.3s, left 0.3s;
}

.control-panel .icon:hover:not(.disable-hover) {
  opacity: 1;
  cursor: pointer;
}

.control-panel.expanded .icon {
  left: 200px;
}

.control-panel .panel {
  left: -255px;
  top: 0;
  background-color: rgba(50, 50, 50, 0.3);
  width: 255px;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  transition: opacity 0.3s, left 0.3s;
  position: absolute;
  padding: 15px;
  box-sizing: border-box;
}

.control-panel.expanded .panel {
  left: 0px;
}

.control-panel .icon {
  position: relative;
}

.control-panel .icon span {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: opacity 1s;
}

.control-panel.expanded #expand-text {
  opacity: 0;
}

.control-panel:not(.expanded) #contract-text {
  opacity: 0;
}

.control-panel .panel h4 {
  margin-top: 8px;
  margin-bottom: 25px;
}

.control-panel .panel .button {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.control-panel .panel .button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.control-panel #randomise-colors-button .previous {
  float: right;
}

.control-panel #depth-button #depth-display {
  float: right;
}

.control-panel #depth-button #depth-range {
  width: 100%;
}
