.control-panel {
  position: absolute;
  color: white;
}

.control-panel .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 40px;
  background-color: #222;
  opacity: 0.3;
  position: absolute;
  left: 15px;
  top: 15px;
  text-align: center;
  transition: opacity 0.3s, left 0.3s;
}

.control-panel .icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.control-panel.expanded .icon {
  left: 200px;
}

.control-panel .panel {
  left: -255px;
  top: 0;
  background-color: rgba(50, 50, 50, 0.3);
  width: 255px;
  height: 100vh;
  transition: opacity 0.3s, left 0.3s;
  position: absolute;
  padding: 15px;
  box-sizing: border-box;
}

.control-panel.expanded .panel {
  left: 0px;
}
